* {
  box-sizing: border-box;
  font-family: monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.cards > * {
  padding: 15px;
  flex-basis: 150px;
  border: 1px solid #aaa;
  background: #ccc;
  color: #282c34;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.8);
  border-radius: 10px;
  margin: 0 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cards > *:hover, button:hover {
  opacity: 0.8;
}

form input, form button {
  background-color: #282c34;
  color: white;
  padding: 10px;
  outline: none;
  border: 1px solid white;  
  border-radius: 10px;
  margin: 5px;
  opacity: 0.8;
}

/* form input{
} */

.fruit {
  display: flex;
  justify-content: space-between;
}

/* color classes */
.red { background: red; }
.yellow { background: yellow; }
.green { background: green; }
